html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #ffffff;    
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    text-align: center;    
    line-height: 1.6;
    font-size: 16px;
    color: #333;
    padding: 0;    
}
  
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    line-height: 1.2;
 }
  
/* .hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
} */

h4, .subtitle, .tagline {
    font-weight: 300;
    font-style: italic;
}
  
/* .tagline {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1em;
}

.tagline {
    font-size: 24px;
    margin: 20px 0;
} */

.message {
    font-size: 18px;
    color: #333333;
}

.transparency {
    padding: 2rem 1rem;
}

.bottom-block {
    margin-top: auto;
}

/* footer {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 14px;
    color: #777;
  }
   */
.site-footer {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 14px;
    color: #777;
    text-align: center;
    padding: 2rem 1rem;
    background-color: #0a0a0a;
    /* color: #ccc; */
    /* font-size: 0.9rem; */
}

.symbol-block {
    margin: 0 auto;
    max-width: 600px;
}

.symbol {
    height: 75px;
    margin: 1rem 0 0.5rem;
    opacity: 0.9;
}

.symbol-info {
    font-style: italic;
    font-size: 0.85rem;
    color: #999;
    line-height: 1.5;
    max-width: 480px;
    margin: 0 auto;
}

copyright {
    margin-top: 2rem;
    font-size: 0.75rem;
    color: #777;
}

.founded-by {
    font-size: 0.9rem;
    color: #666;
    text-align: center;
    margin-top: 3rem;
}

.banner {
    width: 100vw;
    max-width: 100%;
    height: 120px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}